body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  flex: 1;
  margin-top: 10px;
}

.separator {
  height: 2px;
  background-color: black;
}

.list-container {
  padding: 10px 15px 10px 15px;
  border: 2px solid black;
  margin: 10px;
}

.list-error {
  text-align: center;
  color: darkred;
  margin: 20px;
  /*display: none;*/
}

.list-header > span {
  margin-left: 2px;
  font-size: large;
}

.list-content > div {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.list-content > div > div {
  margin-bottom: 10px;
}

.list-content > div > div > img {
  height: 150px;
  width: 120px;
}

.list-content > div > div > img:hover {
  cursor: pointer;
}

.list-content > div > div > .col > a:first-of-type {
  font-size: medium;
  color: black;
}

.list-content > div > div > .col > a {
  font-size: small;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-search {
  box-shadow: 0 1px grey;
  padding-top: 0px;
  padding-bottom: 1px;
}

.form-inline.mr-auto {
  flex: 1;
}
