{% extends "layout.html" %}

{% block title %}TPW01 - Book title{% endblock %}

{% block content %}
<div class="col">
    <div class="book-header col">
        <div class="d-flex">
            {% comment %}<img class="align-self-center mr-3 book-big-img">{% endcomment %}
            <div class="media-body mt-3 mb-3 d-flex flex-column flex-grow-1">
                <h5 class="mt-0 mb-0">{{ book.title }}</h5>
                <span>by <a>{{ book.author }}</a></span>
                <div class="d-flex mt-2">
                    <span class="book-tag-title pl-0">Score: {% if rating == None %}0{% else %}{{ rating }}{% endif %}/100</span>
                    {% comment %}<span class="book-tag-title">Tags:</span>
                    <span class="book-tag">Tag1</span>
                    <span class="book-tag">Tag2</span>{% endcomment %}
                </div>
                <div class="d-flex justify-content-end flex-grow-1">
                    <div class="d-flex flex-column">
                        <div class="flex-grow-1"></div>
                        {% if isauthor %}
                            <a href="/bookeditor/{{ book.id }}" class="btn btn-primary btn-sm m-1"><i class="fa fa-pencil"></i>&nbsp;Edit Book</a>
                            <a href="/deletebook/{{ book.id }}" class="btn btn-danger btn-sm m-1"><i class="fa fa-trash"></i>&nbsp;Delete Book</a>
                        {% endif %}
                        <button class="btn btn-primary m-1" type="button"><i class="fa fa-play"></i>&nbsp;Continue Reading</button>
                        <form class="d-flex" action="/bookmarkpress/" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ book.id }}" name="bookid">
                            <button class="btn btn-primary m-1 flex-grow-1" type="submit">
                                {% if bookmarked %}
                                    <i class="fa fa-bookmark-o"></i>&nbsp;Unbookmark
                                {% else %}
                                    <i class="fa fa-bookmark"></i>&nbsp;Bookmark
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-header-separator"></div>
        <div class="description">
            {{ book.description }}
        </div>
    </div>
    <div class="col-xl-12 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header d-flex justify-content-between">
                <span>Chapters</span>
                {% if isauthor %}
                    <a href="/chaptereditor/{{ book.id }}/new" class="btn btn-primary btn-sm">New chapter</a>
                {% endif %}
            </div>
            <div class="separator"></div>
            <div class="chapter-list-content">
                {% for chapter in chapters %}
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="col d-flex justify-content-between">
                                <a href="/chapter/{{ book.id }}/{{ chapter.number }}">{{ chapter.title }}</a>
                                <a href="/chapter/{{ book.id }}/{{ chapter.number }}"><small>{{ chapter.release }}</small></a>
                            </div>
                            <div class="separator-thin"></div>
                        </div>
                        {% if isauthor %}
                            <a href="/chaptereditor/{{ book.id }}/{{ chapter.number }}" class="btn btn-primary btn-sm ml-2 mt-3 mb-2">Edit</a>
                            <a href="/deletechapter/{{ chapter.id }}" class="btn btn-danger btn-sm ml-2 mt-3 mb-2">Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xl-12 offset-xl-0">

        <div class="container-custom">
{% if  user.is_authenticated and not isauthor%}
            <div class="container-custom-header">
                <span>Leave a review</span>
                <div class="separator"></div>
            </div>
            <div class="review-form-content">

                <form action="/review/" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <!--<label class="mb-0" for="review-form-score">Score</label>
                        <input type="number" class="form-control w-25" id="review-form-score" placeholder="0-100">-->
                        {{ form.rating }}
                    </div>
                    <div class="form-group">
                       <!-- <label class="mb-0" for="review-form-content">Review content</label>
                        <textarea class="form-control" id="review-form-content" rows="3"></textarea> -->
                        {{ form.text }}
                    </div>
                        {{ form.novel }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                {% elif not user.is_authenticated %}<span>Log in to review!</span>
                {% elif isauthor %}<span>Authors are not allowed to review their own works</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-12 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Reviews</span>
                <div class="separator"></div>
            </div>
            <div class="review-list-content">
                <div>
                    <div class="col d-flex flex-column">
                        <span>User</span>
                        <div class="d-flex justify-content-between">
                            <span>Rating</span>
                            <span>Release</span>
                        </div>
                        <div class="mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa dolor, ullamcorper a velit a, ultrices fringilla justo. Nulla ac massa a velit luctus rutrum sit amet eu nisi. Nulla lacinia id urna dapibus facilisis. Sed ut turpis eget massa molestie euismod. Cras sollicitudin lacus non blandit viverra. Phasellus ut lacus non elit porttitor bibendum ultrices malesuada purus. Sed eu venenatis sem. Nulla suscipit, arcu ut porttitor volutpat, felis sem convallis lectus, et eleifend lorem dolor ac ex. Nullam in molestie ligula. Cras vitae mi porta, sagittis nunc et, fringilla metus. Fusce in enim ac leo luctus consectetur non a tellus. Vivamus vulputate eros molestie lacus dapibus efficitur.
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
                <div>
                    <div class="col d-flex flex-column">
                        <span>User</span>
                        <div class="d-flex justify-content-between">
                            <span>Rating</span>
                            <span>Release</span>
                        </div>
                        <div class="mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa dolor, ullamcorper a velit a, ultrices fringilla justo. Nulla ac massa a velit luctus rutrum sit amet eu nisi. Nulla lacinia id urna dapibus facilisis. Sed ut turpis eget massa molestie euismod. Cras sollicitudin lacus non blandit viverra. Phasellus ut lacus non elit porttitor bibendum ultrices malesuada purus. Sed eu venenatis sem. Nulla suscipit, arcu ut porttitor volutpat, felis sem convallis lectus, et eleifend lorem dolor ac ex. Nullam in molestie ligula. Cras vitae mi porta, sagittis nunc et, fringilla metus. Fusce in enim ac leo luctus consectetur non a tellus. Vivamus vulputate eros molestie lacus dapibus efficitur.
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}