<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TPW01</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/book.css">
    <link rel="stylesheet" href="../app/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../app/static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../app/static/css/login.css">
    <link rel="stylesheet" href="../app/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="../app/static/css/Navigation-with-Search.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">TPW Project 1</a>
            <div class="navbar navbar-light navbar-expand-md">
                <div class="collapse navbar-collapse" id="navcol-1"></div><span class="actions"> <a class="login" href="login.html">Log In</a></span><button data-target="#navcol-1" data-toggle="collapse" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Write</a></li>
                </ul>
                <form class="form-inline d-xl-flex mr-auto justify-content-xl-end" target="_self">
                    <div class="form-group"><label for="search-field"><input class="form-control search-field" type="search" id="search-field" name="search"><i class="fa fa-search"></i></label></div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container" id="content">
        <div class="col">
            <div class="d-flex flex-nowrap"><img>
                <div class="col d-flex flex-column"></div>
                <div class="d-flex flex-nowrap justify-content-between buttongroup"><button class="btn btn-primary" type="button"><i class="fa fa-play"></i>&nbsp;Continue Reading</button><button class="btn btn-primary" type="button"><i class="fa fa-bookmark"></i>&nbsp;Bookmark</button></div>
            </div>
        </div>
    </div>
    <div class="d-lg-flex justify-content-lg-center align-items-lg-center footer-basic" style="padding: 20px 0px;">
        <footer>
            <p class="copyright" style="margin: 0;">TPW Project 1 | Universidade de Aveiro | 2020/21</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>