{% extends "layout.html" %}

{% block title %}TPW01 - Home{% endblock %}


{% block content %}
<div class="row no-gutters">

    <div class="col-xl-6 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Recent updates</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                {% for chapter in newchaps %}
                <div>
                    <div class="d-flex flex-nowrap"><img>
                        <div class="col d-flex flex-column">
                            <a href="book/{{ chapter.novel.id }}">{{ chapter.novel.title }}</a>
                            <a href="chapter/{{ chapter.id }}">{{ chapter.number }} - {{ chapter.title }}</a></div>
                    </div>
                    <div class="separator"></div>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/new/1">More Updates</a>
            </div>
        </div>
    </div>

    <div class="col-xl-6 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Rising</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                {% for book in rising %}
                <div>
                    <div class="d-flex flex-nowrap"><img>
                        <div class="col d-flex flex-column"><a href="book/{{ book.id }}">{{ book.title }}</a>
                            <div class="d-flex justify-content-between"><span>{{ book.rating }}% Rating</span></div>
                        </div>
                    </div>
                    like first 2 lines of description here but actually to the side
                    <div class="separator"></div>
                </div>
                {% endfor %}
                <div>
                    <div class="d-flex flex-nowrap"><img>
                        <div class="col d-flex flex-column"><a href="#">Book</a>
                            <div class="d-flex justify-content-between"><span>Rating</span><span>Nº Followers</span></div>
                        </div>
                    </div>
                    like first 2 lines of description here but actually to the side
                    <div class="separator"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/hot/1">More Rising</a>
            </div>
        </div>
    </div>
    <div class="col-xl-12 offset-xl-0">
        <div class="container-custom">
            <div class="container-custom-header">
                <span>Best rated</span>
                <div class="separator"></div>
            </div>
            <div class="list-content">
                {% for book in toprated %}
                <div>
                    <div class="d-flex flex-nowrap"><img>
                        <div class="col d-flex flex-column"><a href="book/{{ book.id }}">{{ book.title }}</a>
                            <div class="d-flex justify-content-between"><span>{{ book.rating }}% Rating</span><span>Nº Followers</span></div>
                        </div>
                    </div>
                    like first 2 lines of description here but actually to the side
                    <div class="separator"></div>
                </div>
                {% endfor %}
                <div>
                    <div class="d-flex flex-nowrap"><img>
                        <div class="col d-flex flex-column"><a href="#">Book</a>
                            <div class="d-flex justify-content-between"><span>Rating</span><span>Nº Followers</span></div>
                        </div>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center list-button">
                <a class="btn btn-primary btn-block" href="/top/1">More Books</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}