{% extends "layout.html" %}

{% block content %}

    <div class="row no-gutters">
        <div class="col-xl-12 offset-xl-0">
            <div class="container-custom">
                <div class="container-custom-header">
                    <span>XXXXXXX</span>
                    <div class="separator"></div>
                </div>
                <div class="list-content">
                    <div>
                        <div class="d-flex flex-nowrap"><img>
                            <div class="col d-flex flex-column"><a href="#">Book</a>
                                <div class="d-flex justify-content-between"><span>Rating</span><span>Nº Followers</span>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                    </div>
                    <div>
                        <div class="d-flex flex-nowrap"><img>
                            <div class="col d-flex flex-column"><a href="#">Book</a>
                                <div class="d-flex justify-content-between"><span>Rating</span><span>Nº Followers</span>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 offset-xl-0">
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}